<div class="footer">
  <div class="container">
      	<img src="https://img.alicdn.com/imgextra/i3/3832963542/O1CN011c2HJz6PLWRbN4b_!!3832963542.png" class="visible-lg">
      	<p>Copyright &copy; 2019 行业品牌网 版权所有 All Rights Reserved.  <a href="{{ site.baseurl }}/sitemap.xml">网站地图</a></p>
        <div class="copyright">       
        <strong><a href="/">智慧图书馆厂家排名</a>是真实统计的最新<a href="/">智慧图书馆厂家</a>排名榜！</strong>
      </div>
  </div>    
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/main.js?v=1126"></script>
</body>
</html>