<div class="footer">
  <div class="container">
      	<img src="https://img.alicdn.com/imgextra/i3/3832963542/O1CN011c2HJz6PLWRbN4b_!!3832963542.png" class="visible-lg">
      	<p>Copyright &copy; 2019 行业品牌网 版权所有 All Rights Reserved.  <a href="{{ site.baseurl }}/sitemap.xml">网站地图</a></p>
        <div class="copyright">       
        <strong><a href="/">智慧图书馆厂家排名</a>是真实统计的最新<a href="/">智慧图书馆厂家</a>排名榜！</strong>
      </div>
  </div>    
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script>
/*
 * 吸顶效果
 */
var tit = document.getElementById("nav");
// alert(tit);
//占位符的位置
var rect = tit.getBoundingClientRect();//获得页面中导航条相对于浏览器视窗的位置
var inser = document.createElement("div");
tit.parentNode.replaceChild(inser,tit);
inser.appendChild(tit);
inser.style.height = rect.height + "px";

//获取距离页面顶端的距离
var titleTop = tit.offsetTop;
//滚动事件
document.onscroll = function(){
    //获取当前滚动的距离
    var btop = document.body.scrollTop||document.documentElement.scrollTop;
    //如果滚动距离大于导航条据顶部的距离
    if(btop>titleTop){
        //为导航条设置fix
        tit.className = "navbar fix";
    }else{
        //移除fixed
        tit.className = "navbar";
    }
}

/*移动端汉堡菜单*/
if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
    $("#nav_id").click(function(){
      $("#btn_id").click();
    });
}

// 百度自动推送
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   		bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  	}
  	else{
  		bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  	}
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>