<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<meta name="keywords" content="{{ page.keywords }}" />
<meta name="description" content="{{ page.description }}" />
<!-- <base href="https://gongshui10.github.io/" /> -->
<link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{{ site.baseurl }}/css/bootstrap.css?v=20180908" rel="stylesheet">
<link href="{{ site.baseurl }}/css/main.css?v=20180908" rel="stylesheet">
<!--[if lt IE 9]>
<script src="{{ site.baseurl }}/js/html5shiv.min.js"></script>
<script src="{{ site.baseurl }}/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="header" id="home">
  <div class="container">
    <div class="logo">
      <a href="{{ site.url }}/"><img src="https://img.alicdn.com/imgextra/i4/3832963542/O1CN011c2HJzGSNZFdxBp_!!3832963542.png" width="45" height="50"></a>
    </div>
    <div class="sitename">
      <h1>2018智慧图书馆厂家排名</h1>
    </div>
  </div>
</div>

<div class="navbar navbar-default" id="nav">
  <div class="container container-fluid">
    <div class="navbar-header">
      <button id="btn_id" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_id" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="nav_id">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.url }}#home"><i class="icon iconfont">&#xf0174;</i> 首页<span class="sr-only">(current)</span></a></li>
        <li><a href="{{ site.url }}#top10"><i class="icon iconfont">&#xf0278;</i> 厂家排名</a></li>
        <li><a href="{{ site.url }}#about"><i class="icon iconfont">&#xf027b;</i> 排名说明</a></li>
        <li><a href="{{ site.url }}#comment"><i class="icon iconfont">&#xf0200;</i> 厂家投票</a></li>
        <li><a href="{{ site.url }}#mouth"><i class="icon iconfont">&#x3451;</i> 口碑排名</a></li>
      </ul>
      
    </div>
  </div>
</div>

<div class="clear"></div>


<div class="mouth" id="mouth" style="background-color: #292929;">
  <div class="container">
    <h2 style="text-align: center;">{{ page.title }}</h2>
    <p style="text-align: center;">{{ page.date | date: "%Y-%m-%d" }}</p>
      {{ content }}
  </div>    
</div>

<div class="footer">
  <div class="container">
      <img src="https://img.alicdn.com/imgextra/i3/3832963542/O1CN011c2HJz6PLWRbN4b_!!3832963542.png" class="visible-lg">
      <p>
        Copyright &copy; 2019 行业品牌网 版权所有 All Rights Reserved.
      <div class="copyright hidden-xs">       
        <strong><a href="/">智慧图书馆厂家排名</a>是真实统计的最新<a href="/">智慧图书馆厂家</a>排名榜！</strong>
      </div>
  </div>    
</div>
<script src="{{ site.baseurl }}/js/jquery.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.js"></script>
<script src="{{ site.baseurl }}/js/main.js?v=20180908"></script>
</body>
</html>