{% include header.html %}


<div class="mouth" id="mouth" style="background-color: #292929;">
  	<div class="container">
    	<h2 style="text-align: center;">{{ page.title }}</h2>
    	<p style="text-align: center;">{{ page.date | date: "%Y-%m-%d" }}</p>
      	{{ content }}

      	<p style="padding-top: 30px;">
      		<ul>
      			<li class="col-md-6">
      				上一篇：{{ if page.previous }}
<a href="{{ page.previous.url }}">{{ page.previous.title | truncatewords:5 }}</a>
					{{ endif }}
				</li>
  				<li class="col-md-6">
  					下一篇：{{ if page.next }}
<a href="{{ page.next.url }}">{{ page.next.title | truncatewords:5 }}</a>
  					{{ endif }}
  				</li>
      		</ul>
      	</p>
  </div>


</div>






{% include footer.html %}